################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LeituraArquivos/v17
/LeituraArquivos/.vs/LeituraArquivos
/LeituraArquivos/obj
